.MuiCardContent-root-29{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#header{
    background-color: #8dee67;
    padding: 22px;
    margin: 0px;
    color: white;
}

img{
    height: 150px;
    width: auto;
}

p{
    height: 5px;
}

